.tabs { margin-bottom:20px; padding-bottom:10px; 
	border-bottom:1px solid #222;}
.tabs button { background:yellowgreen; color:#fff; border-radius:4px; 
	border:0; padding:5px 10px; }

.poster { position:relative; }
.poster img { position:absolute; top:0; left:0; width:180px; height:250px; 
 	transition:all .4s ease; }